<h1>BonsorBox</h1>
<div>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.check_box :remember_me, class: 'form-check-input' %>
    <%= f.label :remember_me, 'Remember me on this computer', class: 'form-check-label' %>
    
    <%= f.submit "Log in", class: 'btn btn-primary' %>
    <%= link_to "Sign up", signup_path, class: 'btn btn-secondary' %>
  <% end %>
</div>